* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-align: justify;
}

header {
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 65px;
}

header ul li {
    display: inline-block;
}

header ul {
    margin-right: 10px;
}

header a {
    display: inline-block;
    height: 65px;
    line-height: 65px;
    color: #fff;
}

header a:hover {
    color: #d4d4d4;
}

header ul li a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

header h1 a {
    font-size: 25px;
    margin-left: 20px;
}

#slider {
    background-color: #3f3f3f;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url(/laptrinhcuocsong/assets/img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding: 150px 0 50px;
}

#slider a {
    display: inline-block;
    color: #fff;
}

#slider h1 {
    padding: 10px 5px;
    font-size: 40px;
}

#slider h2 {
    color: #fff;
    font-size: 22px;
    padding: 5px 0px 30px 0px;
}

#category ul li {
    display: inline-block;
}

#category ul {
    margin-top: 50px;
}

#category a {
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

#slider a:hover {
    color: #d4d4d4;
}

#content {
    max-width: 750px;
    margin: 150px auto 0px auto;
    min-height: 800px;
}

.post {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #131313;
}

.post h1 {
    margin-bottom: 30px;
    font-size: 27px;
    line-height: 35px;
}

.post h1 a  {
    color: inherit;
}

.post .text {
    display: flex;
}

.post .text img {
    max-width: 140px;
    margin-right: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.post .text p {
    line-height: 35px;
    font-size: 20px;
    font-weight: 300;
}

.post a:hover {
    color: #006f6a;
}

#pagination {
    text-align: center;
    margin-bottom: 50px;
}

#pagination li {
    display: inline-block;
}

#pagination li a {
    display: inline-block;
    color: #252525;
    padding: 0 25px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #868686;
    margin: 3px;
    font-weight: normal;
}

#pagination li a:hover {
    background-color: #212121;
    color: white;
}

/* -------------------- */
#map iframe {
    height: 450px;
}


.container {
    max-width: 1000px;
    margin: 0px auto;
}

footer {
    background-color: #282828;
    /* padding-top: 30px;
    padding-bottom: 40px; */
    padding: 40px 0;
}

footer .container {
    
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4e4e4e;
    padding-bottom: 20px;
}

footer .box {
    max-width: 24%;
}

footer .box h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    font-weight: 300;
}

footer .box a {
    padding: 9px 0px;
    color: #757575;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}

footer .box a:hover {
    color: #fff;
}

footer .border {
    border-bottom: 1px solid #fff;
    width: 100%;
}

footer .footer-bottom h4 {
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
    font-weight: 300;
}

footer .footer-bottom li {
    display: inline-block;
}

footer .footer-bottom li a {
    color: #757575;
    font-size: 12px;
}

footer .footer-bottom li a:hover {
    color: #fff;
}

#bar {
    display: block;
    color: #fff;
    font-size: 30px;
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #212529;
    color: #fff;
    transform: translateX(-100%);
    /* padding: 40px 0 0 30px; */
    padding-top: 40px;
}

#header h1 a {
    color: #fff;
    font-size: 25px;
    padding-left: 30px;
}

#header h1 {
    margin-bottom: 30px;
}

#header li a {
    color: #fff;
    padding: 25px 30px;
    display: block;
}

#header li a:hover {
    background-color: #006f6a;
}

#close {
    position: absolute;
    top: .8rem;
    right: 1.2rem;
    font-size: 25px;
}

#overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: none;
}

/* responsive web */
@media screen and (max-width: 960px) {
    /* header {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
    header a {
        line-height: 30px;
        height: 30px;
    }
    header ul {
        padding-bottom: 10px;
    } */
    /* -------------------------- */
    header {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #000;
    }

    #bar {
        display: block;
    }

    header ul {
        display: none;
    }

    #content {
        padding: 0 10px;
    }
    #slider {
        padding: 25px 0 10px 0;
    }
    #slider h1, #slider h2 {
        display: none;
    }
    footer {
        padding: 40px 15px;
    }
}

@media screen and (max-width: 500px) {
    /* header h1 a{
        font-size: 20px;
    }
    header ul li a {
        font-size: 12px;
        margin: 0 5px;
    } */
    /* -------------------------- */



    #slider {
        display: none;
    }
    #content .post {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #content .post h1 {
        margin-top: 20px;
    }
    #content .post .text {
        justify-content: space-evenly;
    }
    #content img {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100px;
    }
    #content .post .text p {
        font-size: 16px;
        line-height: 25px;
    }
    #content #pagination {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .container .footer-top {
        display: block;
    }
    footer .container .footer-top .box {
        max-width: 100%;
        display: block;
    }
    footer .container .footer-top .box h4 {
        margin-bottom: 0px;
    }
    footer .container .footer-top .box ul {
        margin-bottom: 15px;
    }
    footer .container .footer-top .box li {
        display: inline-block;
    }footer .container .footer-top .box li a {
        padding: 5px;
    }
    #map iframe {
        height: 300px;
    }
    
}